.options {
	list-style:none;
	display: grid;
	grid-gap: 1rem;
	padding-top: .5rem;
	list-style: none;
	grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
	
}

.options li {
		display:flex;
		justify-content:center;
		text-decoration: none;
		font-size:1rem;
		text-transform: uppercase;
		
}

h2 {
		text-align:center;
		text-decoration: none;
		font-size:1rem;
		color: #d3d7cf;
		text-transform: uppercase;
		padding-top:2rem;
		margin-top:2px;
}
a{
	text-decoration: none;
	color:#d3d7cf;
}