
.home-background{
	
	background-color: #2e3436;
	padding-bottom: 4rem;
	padding-top: 1rem;
}

.home-contents{
	padding-top:2rem;
	padding-left:6%;
}

.home-contents h1{
	font-size:4rem;
	color:#fff;
}

.home-contents p{
	margin-top:0;
	margin-left:.5rem;
	color:#d3d7cf;
	font-size:1.2rem;
}

.btn{
	
	display: inline-block;
	background:#333;
	color: #fff;
	text-decoration:none;
	padding:1em 3em;
	border: 1px solid #666;
	margin: 1.4rem 0.5rem;
}